
body {
    background-color: #F4F1DE !important;
    font-family: Merriweather;
}

canvas {
    background-color: #F4F1DE !important;
    border: 1px solid #662E9B;
}


#increase {
    background-color: rgb(89, 89, 252);
}

#decrease {
    background-color: rgb(229, 160, 99);
}

#submit {
    background-color: rgb(133, 192, 84);
}

button {
    margin: 5px;
    color: #3D405B !important;
    background-color: #81B29A !important;
    border-color: #E07A5F !important;
}


#r1
{
    background-color: #F2CC8F !important;
    border-style: dotted !important;
    border-color: #81B29A !important;
    border: 2px #81B29A !important;
    padding: 5px;
    margin: 2px;
}

#h1
{
    background-color: #E07A5F !important;
}

#r2
{
    background-color: #E07A5F !important;
}


table.table-bordered{
    border:1px solid #662E9B!important;
    margin:10px;
  }

table.table-bordered > thead > tr > th{
    border:1px solid #662E9B!important;
}
table.table-bordered > thead > th{
    border:1px solid #662E9B!important;
}
table.table-bordered > thead {
    border:1px solid #662E9B!important;
}

table.table-bordered > tbody > tr > td{
    border:1px solid #662E9B!important;
}

#infobox {
    background-color: #E07A5F !important;
    border:1px solid #662E9B!important;
}

a {
    color: #662E9B!important;
  }